header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
    padding: 30px 20px;
    text-decoration: none;
}